.content {
  padding: 1em 5em;
}
.options {
  margin-top: .5em;
}
.sortable {
  width: 405px;
}
.list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.list li {
  margin: 0 3px 3px 3px;
  padding: 0.4em 0.4em 0.4em 1.5em;
  font-size: 1.4em;
  height: 18px;
  border: 1px solid #CCC;
  outline: none;
  cursor: move;
  
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.list li:hover {
  background-color: #FFF9BD;
}
.movedBy {
  margin-left: 1em;
  font-size: 13px;
}